
h1{
    margin : 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
body{
    margin : 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color : #40514E;
}
.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position : relative;
}
.bottom-container{
    background-color: #66BFBF;
    margin-bottom: 0;
    padding: 20px;

}
.middle-container{
    margin: 100px 0 0 0;
}
.top-cloud{
    position: absolute;
    right : 500px;
    top: 300px;

}
.bottom-cloud{
    position: absolute;
    left : 500px;
    bottom : 300px;

}
.intro{
    width: 50%;
    margin: 0 auto;
}
a{
    color: #11999E;
}
p{
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.skill1-img{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.skill2-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.display-picture{
    height: 150px;
}
hr{
    width:4%;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    border-color: #EAF6F6;
    margin: 100px auto;
    clear: both;
}
.attribution{
    font-size: 0.5rem;
}
.footer-link{
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.contact-des{
    width: 50%;
    margin: 50px auto;
    
}
.copyright{
    color: #EAF6F6;
}

.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66BFBF), color-stop(1, rgb(63, 134, 134)) );
	background:-moz-linear-gradient( center top, #66BFBF 5%, rgb(63, 134, 134) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66BFBF', endColorstr='rgb(63, 134, 134)');
	background-color:#66BFBF;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	display:inline-block;
	color: #FFFFFF;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:31px;
	line-height:31px;
	width:125px;
	text-decoration:none;
	text-align:center;
    margin-bottom: 50px;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgb(63, 134, 134)), color-stop(1, #66BFBF) );
	background:-moz-linear-gradient( center top, rgb(63, 134, 134) 5%, #66BFBF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(63, 134, 134)', endColorstr='#66BFBF');
	background-color:rgb(63, 134, 134);
}.btn:active {
	position:relative;
	top:0.5px;
}